
.s12{
    width:12px;
    height:12px;
}
.s16{
    width:16px;
    height:16px;
}
.s20{
    width:20px;
    height:20px;
}
.s24{
    width:24px;
    height:24px;
}
.s32{
    width:32px;
    height:32px;
}
.s64{
    width:64px;
    height:64px;
}
.s128{
    width:128px;
    height:128px;
}